<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>邮件模板</title>
    <style>
        td, th { border-width:1px; border-style: solid; }
        th {width: 120px}
    </style>
</head>
<body>
<table style="background: #FFFFFF; border-collapse: collapse; text-align: left">
    <caption>创建工单</caption>
    <tr>
        <th>严重程度</th>
        <td>危险</td>
        <th>优先级</th>
        <td>高</td>
        <th>工单处理人</th>
        <td>库里</td>
    </tr>
    <tr>
        <th>相关资产</th>
        <td>服务器</td>
        <th>资产所属人</th>
        <td>欧文</td>
        <th>工单状态</th>
        <td>待处理</td>
    </tr>
    <tr style="height: 100px">
        <th>问题详细描述</th>
        <td  colspan="5">年幼时雨天的快乐真的是无厘头的。一到下雨天就和小伙伴们撑着伞，穿着雨鞋，踩在泥泞的路上，淌过一个又一个水洼，溅起一身的泥水；用小伞漂在水洼里旋转，高高扬起脚踢小朋友一身泥水或者干脆连伞也不撑，就在雨里面象疯子一样嬉戏奔跑玩乐。</td>
    </tr>
    <tr>
        <th>处理意见</th>
        <td colspan="5">曾几何时，把自己当作是农夫，平平淡淡地播种，平平淡淡地收获；总以为付出就会有回报，总以为自己不会受伤害，但结局却成了一种最深的伤痛，在心底烙下了一个永远的伤疤，一触就痛。都说“曾经的伤痛是人生中最珍贵的财富"，可那些我不想要的回忆是否可以随意删除呢？</td>
    </tr>
    <tr>
        <th>操作历史</th>
        <td colspan="5">总想为这雨写点什么，却觉得自己的心性早已不如从前那么敏感了，也不会再有一点新意出于笔端。但让我百思不得其解的是，一向多愁善感的我对于这雨的麻木究竟是因为自己当真已经老了许多，还是因为网络的物化，碎片的思维，让心灵深处也蒙了尘，多了现实与物质的，而少了精神的回归。</td>
    </tr>
</table>
</body>
</html>