<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>邮件模板</title>
    <style type="text/css">
        td, th { border-width:1px; border-style: solid; }
        th {width: 120px}
    </style>
</head>
<body>
<p style="margin-bottom: 30px">【工单状态更改】 tertetete</p>
<table style="background: #FFFFFF; border-collapse: collapse; width: 1060px; height: 400px; text-align: left;">
    <tr style="height: 48px;">
        <th>严重程度</th>
        <td>严重</td>
        <th>优先级</th>
        <td>高</td>
        <th>工单处理人</th>
        <td>ertwetwetr</td>
    </tr>
    <tr style="height: 48px;">
        <th>相关资产</th>
        <td>DNS组:10.88.7.11</td>
        <th>资产所属人</th>
        <td></td>
        <th>工单状态</th>
        <td>处理中</td>
    </tr>
    <tr style="height: 100px;">
        <th>问题详细描述</th>
        <td  colspan="5">gdfgds</td>
    </tr>
    <tr style="height: 100px;">
        <th>处理意见</th>
        <td colspan="5">gdfgsdf</td>
    </tr>
    <tr style="height: 100px;">
        <th>操作历史</th>
        <td colspan="5">gsdgfsdg</td>
    </tr>
</table>
<p style="font-family: 华文行楷; text-align: right; margin-top: 60px">江南无所有 聊赠一枝春</p>
</body>
</html>